.list-group-arrow a {
  position: relative;
  display: block;
  padding: 10px 25px 10px 10px;
  border-bottom: 1px solid #ccc;
}
.list-group-arrow a::after {
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
