//
// Variables for Nector
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%);
@gray-dark:              lighten(@gray-base, 20%);
@gray:                   #95a5a6;
@gray-light:             #b4bcc2;
@gray-lighter:           #ecf0f1;

@brand-primary:         #2196f3;
@brand-success:         #4caf50;
@brand-info:            #9c27b0;
@brand-warning:         #ff9800;
@brand-danger:          #f44336;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@font-family-humanist-sans-serif: 'Open Sans','Helvetica Neue', Helvetica, 'Arial', '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
@font-family-sans-serif:  'Open Sans','Helvetica Neue', Helvetica, 'Arial', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
@font-family-serif:       'Times New Roman', Times, '游明朝体', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Consolas, "Liberation Mono", Menlo, Courier, monospace;
@font-family-base:        @font-family-humanist-sans-serif;

@font-size-base:          13px;
@font-size-large:         15px;
@font-size-small:         11px;

@font-size-h1:            22px;
@font-size-h2:            18px;
@font-size-h3:            16px;
@font-size-h4:            15px;
@font-size-h5:            14px;
@font-size-h6:            13px;

@line-height-base:        1.538461538; // 20/13
@line-height-computed:    floor((@font-size-base * @line-height-base));

@headings-font-family:    @font-family-sans-serif;
@headings-font-weight:    300;
@headings-line-height:    1.2;
@headings-color:          inherit;


//== Components
@border-radius-base:        2px;
@border-radius-large:       3px;
@border-radius-small:       1px;


//== Grid system
@grid-columns:              12;
@grid-gutter-width:         10px;


//== Navbar
@navbar-height:                    60px;

@navbar-default-color:             #ffffff;
@navbar-default-bg:                #ffffff;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                @gray-dark;
@navbar-default-link-hover-color:          gray;
@navbar-default-link-hover-bg:             @gray-lighter;
@navbar-default-link-active-color:         #ffffff;
@navbar-default-link-active-bg:            @brand-primary;
@navbar-default-link-disabled-color:       @gray-darker;
@navbar-default-link-disabled-bg:          transparent;

// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      @gray-darker;
@navbar-inverse-bg:                         @gray-darker;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 @gray-lighter;
@navbar-inverse-link-hover-color:           @gray-lighter;
@navbar-inverse-link-hover-bg:              gray;
@navbar-inverse-link-active-color:          @gray-light;
@navbar-inverse-link-active-bg:             #ffffff;
@navbar-inverse-link-disabled-color:        #444444;
@navbar-inverse-link-disabled-bg:           transparent;


//== Breadcrumbs
@breadcrumb-separator:          ">";


//== Type
@blockquote-font-size:        @font-size-base;

