//
// Drawer
// --------------------------------------------------


// drawer default 
// ======================================
.drawer-default {
    a {
        text-decoration: none;
        color: #ffffff;
        &:hover,
        &:focus { 
            text-decoration: none;
            color: #ffffff;
        }
    }
    .drawer-brand {
        a {
            padding: 20px 15px;
            font-size: 14px;
            &:hover {
            }
        }
        > img {
        }
    }
    ul {
        li {
            a {
                padding: 10px 15px;
                font-size: 12px;
                line-height: 1.2;
                &:hover,
                &:focus {
                    background-color: #333333;
                }
            }
            ul > li > a {
                padding: 5px 20px;
            }
        }
    }
}
