//
// Drawer
// --------------------------------------------------


.drawer-default {
    .drawer-menu-item, .drawer-submenu-item {
        padding: 0;
        a {
            padding-left: 20px;
            height: 32px;
            font-size: 13px; 
            line-height: 32px;
            color: #ffffff;
            &:hover,
            &:focus {
                text-decoration: none;
                background: #292929;
            }
            span, i {
                margin-right: 5px;
            }
        }
    }
    .dropdown-menu > li > a {
        padding-left: 20px !important;
    }
}
