//
// Item View
// --------------------------------------------------


.item-view {
    // デザイン
    .item-view-inner {
        margin: 0;
        margin-bottom: @line-height-computed;
        padding: 0;
        background: #ffffff none;
        border-radius: 2px;
        .box-border();
    }

    // レイアウト
    .item-view-header {
        padding: @item-view-padding;
    }
    .item-view-body {
        padding: @item-view-padding;
    }
    .item-view-sub {
        padding: @item-view-padding;
        border-top: 1px solid @item-color-border;
    }
    .item-view-footer {
        padding: @item-view-padding;
        background: @item-color-back;
        border-top: 1px solid @item-color-border;
    }

    // 画像
    .item-view-image {
        .item-view-label {
        }
        .item-view-label-text {
        }
    }

    // データ
    .item-view-data {
    }
    // タイトル
    .item-view-title {
        margin: 0;
        padding: 0;
        .clearfix();
        h1 {
            overflow: hidden;
            margin: 0;
            padding: 0;
            font-size: 24px;
            line-height: 1.2;
            font-weight: bold;
            color: #444444;
        }
        p {
            margin: 0;
            padding: 0;
            font-size: 10px;
            line-height: 1.0;
            color: @item-color-text-light;
            &.item-view-title-before {
                margin-bottom: 5px;
            }
            &.item-view-title-after {
                margin-top: 5px;
            }
        }
    }
    // キャッチ
    .item-view-catch {
    }
    // 説明文
    .item-lview-content {
    }
    
}